//home页面button
.home-menu-button{
	position: relative;
	display: block;
	background-color: #FFF;
	height: 5px;
	width: 30px;
	border-radius:3px;
	top: 20px;
	left: 10px;
	transition:transform 1s,background-color 1s;
	&:before,&:after{
		content:'';
		position: absolute;
		background-color: #FFF;
		height: 5px;
		width: 30px;
		border-radius:3px;
		left: 0;
		transition: transform 1s;
	}
	&:before{
		bottom: 10px;
	}
	&:after{
		bottom: -10px;
	}
	//激活了按钮
	&.active{
		visibility: hidden;
		&:before{
			visibility: visible;
			transform:rotate(45deg);
			bottom: 0;
		}
		&:after{
			visibility: visible;
			transform:rotate(-45deg);
			bottom: 0;
		}
	}
}